body {
    background-color: rgb(195, 213, 213);
   background-image:image-set(url('../Images/Screenshot 2025-05-05 212457 - Copy.png'));
   background-repeat: no-repeat;
   background-size: cover;
   background-attachment: fixed;
   background-blend-mode: darken;
   font-style: oblique;
}
header {
    text-align: center;
    margin-top: 0%;
    color: indigo;
}
i {
    font-size: 90px; 
            color: #f2f8fe;
            cursor: pointer; 
            align-items: center;
             margin-left: 100px;
             margin-bottom: 10px;
        }
 button {
     background-color: rgb(94, 35, 146);
     border-radius: 10px;
     padding: 1px;
     color: aliceblue;
 }
 
 .container {
    padding: 20px;
    background-color: #7d69c6d2;;
    margin-top: 50px;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: 50px;
    border-radius: 30px;
}
form {
    align-items: center;
    margin-left: 20%;
}
input {
    background-color: rgb(243, 240, 246);
    padding: 0%;
    border-radius: 7px;
    width: 250px;
    height: 30px;
    padding: 1px;
}
p {
    margin: 0 15px;
    color: aliceblue;
}